/* CSS Document */
html, body {
	background-color: #EE0D70;
	height: 100vh;
  width: 100vw;
}

.center {
	border-width: 0;
	border-left-width: 20px;
	border-right-width: 20px;
	border-style: solid;
	border-color: #700B3C;
	background-color: white;
	width: 1200px;
	height: calc(100vh - 75px);
	margin: auto;
}

.center-content-container {
	padding-top: 75px;
	width: 800px;
	margin: auto;
}

.vertical-gap {
	width: 40px;
	flex-shrink: 0;
}

.name-email-inputs {
	display: flex;
  flex-direction: row;
	align-items: baseline;
  align-content: flex-end;
  width: 100%;
}

.name-email-inputs input {
 width: 100%;
}

.message-input {
	width: 100%;
	margin-top: 20px;
}

.message-input textarea {
	width: 100%;
	margin-top: 5px;
	resize: none;
}

.submit-input {
	position: relative;
	width: 100%;
	margin-top: 20px;
}

.submit-input input {
	position: absolute;
	right: 0;
}
