/* CSS Document */
body {
	background-color: #EE0D70;
	height: 100vh;
  width: 100vw;
}

/* .header, .header-space {
	display: none;
	visibility: hidden;
} */

/* br {
	margin-top: 10px;
	margin-bottom: 10px;
} */

.center {
	border-width: 0 20px;
	border-style: solid;
	border-color: #700B3C;
	background-color: white;
	max-width: 900px;
	min-height: calc(100% - 75px);
	margin: auto;
}

.center-content-container {
	padding-top: 50px;
	padding-bottom: 40px;
}

.profile-container img {
	width: 150px;
	border-radius: 50%;
	margin-left: 50%;
	transform: translateX(-50%);
}

.profile-container h2 {
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	margin-top: 5px;
	margin-bottom: 0;
}

.profile-container h3 {
	color: #666666;
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: lighter;
	margin-top: 0;
}

.attributes-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.attributes-container h3 {
	font-family: 'Roboto Mono', monospace;
	color: #111111;
	margin-bottom: 5px;
	margin-top: 5px;
}

.skills-container {
	text-align: right;
	padding-right: 30px;
}

.things-container {
	text-align: left;
	padding-left: 30px;
}

@media(max-width: 700px)
{
	.attributes-container {
		grid-template-columns: 100%;
	}

	.skills-container, .things-container {
		text-align: center;
		padding: 0;
	}
}

.skills-container li, .things-container li {
	list-style: none;
	font-family: 'Noto Sans JP', sans-serif;
	color: #666666;
}

.skills-container ul, .things-container ul {
	padding-left: 0;
	margin-top: 0;
}

.blurb-container {
	background-color: #f2f2f2;
	max-width: 70%;
	margin: auto;
	margin-bottom: 25px;
}

.blurb-container p {
	padding: 15px;
	font-style: italic;
	font-size: 12pt;
}

.project-button-container {
	margin: auto;
	margin-bottom: 80px;
	width: 300px;
}

.project-button-container button {
	width: 100%;
}
