body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Mono', monospace;
	color: #F50074;
}

p {
	color: #666666;
	font-family: 'Noto Sans JP', sans-serif;
}

a {
	color: #F50074;
}

button, input[type="submit"] {
  background-color: #EE0D70;
  color: white;
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
  padding: 20px 30px;
	border-style: solid;
	border-color: #700B3C;
	border-width: 0;
	border-bottom-width: 7px;
	transition: border-bottom-width ease-in-out 0.05s,
	transform ease-in-out 0.05s,
	background-color ease-in-out 0.05s;
}

button:hover, input[type="submit"]:hover {
	background-color: #F5197C;
	transform: translateY(-2px);
	border-bottom-width: 9px;
}

button:active, input[type="submit"]:active {
	background-color: #EE0D70;
	transform: translateY(7px);
	border-bottom-width: 0;
}

input[type="text"], textarea {
	border-style: none;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 10px 15px;
	font-family: 'Noto Sans JP', sans-serif;
	box-sizing: border-box;
}

input[type="text"]:focus, textarea:focus {
	outline: none;
	background-color: #EEEEEE;
}

label {
	font-family: 'Noto Sans JP', sans-serif;
	padding-right: 10px;
}

 .header {
	z-index: 5;
	position: fixed;
	display: grid;
	grid-template-columns: 1fr auto auto auto 20px;
	width: 100%;
	height: 75px;
	box-shadow: 0 3px 10px #700b3cff;
	background-color: white;
}

.header-space {
	height: 75px;
}

.header-name, .header-link {
  cursor: pointer;
	margin-top: auto;
	margin-bottom: auto;
	align-self: center;

  text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color: #F50074;

	transition: filter ease-in-out 0.1s;
	transition: transform ease-in-out 0.1s;
}

.header-name {
	padding: 0px 35px;
	width: 200px;
	text-align: left;
	font-size: 34px;
}

.header-link {
	text-align: center;
	padding: 0 25px;
	font-size: 22px;
}

.header-link:link { }
.header-link:visited { }
.header-name:hover, .header-link:hover, .header img:hover {
  filter: brightness(75%);
  transform: translateY(-5%);
}

.header-link:active {
  filter: brightness(25%);
  transform: translateY(0%);
}

.header img {
  height: 1.1em;
}

@media(max-width: 800px) {
	.header	{
		grid-template-columns: 1fr auto auto 60px;
	}
	.header-name {
		font-size: 28px;
		padding: 0 15px;
		width: auto;
		line-height: 30px;
	}
	.header-link {
		font-size: 18px;
		padding: 0 15px;
	}
}
