body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	color: #F50074;
}

.header {
	display: grid;
	grid-template-columns: 1fr auto auto auto 20px;
	width: 100%;
	height: 75px;
	box-shadow: 0px 3px #F50074;
}

.header > h1 {
	padding: 0px 35px;
	margin-top: auto;
	margin-bottom: auto;
	text-align: left;
	user-select: none;
}

.header > a, .header > img {
  cursor: pointer;
	padding: 0 25px;
	margin-top: auto;
	margin-bottom: auto;
	align-self: center;
  transition: all ease-in-out 0.1s;
}

.header > a {
  text-decoration: none;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color: #F50074;
}

.header > a:link { }
.header > a:visited { }
.header > a:hover, .header > img:hover {
  filter: brightness(75%);
  transform: translateY(-5%);
}

.header > a:active, .header > img:active {
  filter: brightness(25%);
  transform: translateY(0%);
}

.header > img {
  height: 1.5em;
}
